<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bai.gmall.manage.dao.PmsSkuInfoDao">

    <resultMap type="com.bai.gmall.entity.PmsSkuInfo" id="PmsSkuInfoMap" autoMapping="true">
        <result property="id" column="s1_id" jdbcType="VARCHAR"/>
        <collection property="skuSaleAttrValueList" ofType="com.bai.gmall.entity.PmsSkuSaleAttrValue"
                    autoMapping="true">
            <id property="id" column="sa1_id"/>
        </collection>
    </resultMap>
    <select id="selectSkuSaleAttrValueListBySpu" resultMap="PmsSkuInfoMap">
        SELECT s1.*,sa1.*,s1.id as s1_id,sa1.id as sa1_id FROM pms_sku_info s1 LEFT JOIN pms_sku_sale_attr_value sa1
ON s1.id = sa1.sku_id WHERE s1.product_id = #{productId}
    </select>
</mapper>